@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bgDark {
        opacity: 1;
        background-image: radial-gradient(#6c6c6c11 1px, #00000000 0.1px);
        background-size: 10px 10px;
    }
    
    .bgLight {
        opacity: 1;
        background-image: radial-gradient(#f6f6f6 1px, #0707ad00 0.1px);
        background-size: 10px 10px;
    }
  }



  